<div class="header-container">
  <h1>Cadastro de Cuidados</h1>
  <button (click)="goToCreate()" class="back-to-list-btn">Voltar para Listagem</button>
</div>

<div *ngIf="formError" class="alert error-alert">
  {{ formError }}
</div>

<div *ngIf="successMessage" class="alert success-alert">
  {{ successMessage }}
</div>

<form #careForm="ngForm" (ngSubmit)="onSubmit()">
  <label>Nome:</label>
  <input type="text" [(ngModel)]="care.careName" name="name" required #name="ngModel">
  <div *ngIf="name.invalid && name.touched" class="error-message">Nome é obrigatório.</div>

  <label>Frequência:</label>
  <select [(ngModel)]="care.frequency" name="frequency" required #frequency="ngModel">
    <option value="" disabled>Selecione</option>
    <option value="Diaria">Diária</option>
    <option value="Semanal">Semanal</option>
    <option value="Mensal">Mensal</option>
  </select>
  <div *ngIf="frequency.invalid && frequency.touched" class="error-message">Frequência é obrigatória.</div>

  <label>Descrição:</label>
  <input type="text" [(ngModel)]="care.description" name="description" required #description="ngModel">
  <div *ngIf="description.invalid && description.touched" class="error-message">Descrição é obrigatória.</div>

  <label>Animais:</label>
  <div *ngFor="let animal of animals">
    <label>
      <input
        type="checkbox"
        [checked]="care.animalIds.includes(animal.id)"
        (change)="onAnimalSelect(animal.id, $event)"
        name="animalIds{{animal.id}}">
      {{ animal.name }}
    </label>
  </div>

  <button type="submit">Salvar</button>
</form>
